.App {
  display: flex;
  padding: 30px;
}

.App > div {
  margin-right: 50px;
}

.active-filter {
  background-color: rgb(139, 139, 170);
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
